*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/* служебный класс для скрытия сверстанных и неиспользуемых блоков */
.none{
	display: none;
}
@font-face {
  font-family: 'tinkoff';
  src: url('/font/ofont.ru_PF\ Highway\ Sans\ Pro.ttf');
}

html,
body{
  height: 100%;
  font-family: 'tinkoff';
  user-select: none;
}
main{
  background-color: #eff0f1;
  width: 100%;
  height: 500px;
  flex: 1 1 auto;
}
.wrapper{
  min-height: 100%;
 display: flex;
 flex-direction: column;
}
header{
  background-color: white;
}
.container{
  max-width: 599px;
  width: 95%;
  margin: 0 auto;
}
.nav{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p{
  padding-left: 20px;
  background: url("img/key.png") left no-repeat;
  background-size: cover;
  background-size: 16px;
}
.main__title p{
  padding-left: 20px;
  background: url("img/key.png") left no-repeat;
  background-size: cover;
  background-size: 20px;
  display: none;
}
.container__pay{
  margin-top: 20px;
  max-width: 599px;
  height: 80px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__pay{
  font-size: 20px;
  max-width: 599px;
  width: 87%;
  height: 32px;
  display: flex;
  align-items: center;
}
.container__card{
  max-width: 599px;
  border-bottom:  1px solid gray;
  margin-top: 20px;
  min-height: 96px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.btn__group{
  max-width: 599x;
  width: 91%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
button{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
}
.btn {
  max-width: 567px;
  height: 56px;
  width: 48%;
  background-color: #000;
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button img:nth-child(1){
  width: 25px;
  height: 30px;
}
button img:nth-child(2){
  width: 30px;
  height: 30px;
}
.text__card{
  font-size: 20px;
  padding: 15px 0px 15px 0px;
}
.main__payment{
  background-color: #fff;
  margin: 0 auto;
  min-height: 350px;
}
.payment{
  max-width: 599px;
  width: 91%;
  margin: 0 auto;
}
.card_info{
  max-width: 567px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.number{
  display: flex;
  max-width: 599px;
  height: 56px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px;
  background-color: #ecf1f7;
  border-radius: 4%;
}
.date,
.cvc{
  padding-left: 20px;
  margin-top: 10px;
  width: 48%;
  background-color: #ecf1f7;
  border-radius: 4%;
  height: 56px;
}
footer{
  width: 100%;
  height: 64px;
}
.btn__pay{
  background-color: #ffdd2d;
  max-width: 139px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
  color: black;
}
.btn__pay{
  margin-top: 20px;
}
@media (max-width: 599px){
  .container__pay{
    background-color: #eff0f1;
    height: 48px;
    margin-top: 5px;
  }
  .btn:nth-child(2){
    margin-top: 10px;
  }
  .btn{
    width: 100%;
  }
  .container__card{
    margin-top: 0px;
    border-top:  1px solid gray;
    background-color: #eff0f1;
  }
  .btn__group{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__title{
    margin-top: 20px
  }
  .main__title p{
    display: block;
  }
  .nav p{
    display: none;
  }
  .main__payment{
    background-color: #eff0f1;
  }
  .number,
  .date,
  .cvc{
    background-color: #c8cdd3;
  }
  footer{
    height: 44px;
  }
}
